*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 0;
}
/* style the all buttons */
.tablink{
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: rgb(106, 139, 139);
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    font-size: initial;
}

#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}